{% extends 'layout.html'%}

{% block body %}
    <h1>About my app</h1>
    <p>This is used to calculate the similarities of a document given a database</p>
    <p>In order to use this product, kindly follow the instruction:<br>
        <li>You need to log in. Once logged in, you will norice the "Articles" section on the top left. </li>
        <li>Provide a text document (docx file or typing)</li>
        <li>Submit</li>
        <li>Select check to see the similarity result</li></p>
{% endblock %}
